.header
  // background: darken($brand-primary, 0%)
  // background: #ccc
  background: #000
  height: 80px
  line-height: 80px
  position: fixed
  width: 100%
  z-index: 1000
  // border-bottom: 1px solid white


  ul
    float: right
    padding: 0px
    margin: 0px
    list-style: none

    li
      float: left
      margin-left: 15px

      &:hover 
        text-decoration: underline

      a
        color: darken(#ddd, 10%)
        font-size: 17px
        // transition: all 0.2s linear

        &:hover
          // text-decoration: underline
          color: white
          color: #ca0634

        &:link
          text-decoration: none

        &:active
          text-decoration: none
