header.header
  .header__wrapper.container
    .row
      // Brand
      .col-md-4
        .header__branding
          //- img(src="http://placehold.it/175x30", alt="")
          img(src="http://www.lauritz.com/App_Themes/Parchment/Images/HeaderControl_LogoV2.png", alt="")
      // Nav
      .col-md-8.hidden-sm.hidden-xs
        .header__nav
          nav 
            ul
              li
                a(href="") Hjem
              li
                p |
              li
                btn.btn.btn-default Log ind
              li
                a(href="") Bliv bruger
              //- li
                //- a(href="") Min side
              li
                a(href="") Hjælp