.container-fluid
  .row.row--eq-height  
    .col-md-4
      .thumbnail
        img(src="https://static.pexels.com/photos/116910/pexels-photo-116910.jpeg", alt="")
        .caption
          h3 Vintage stol sælges
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fugiat, eum laboriosam facilis numquam neque?
          .thumbnail__actions
            button.btn.btn-default Se mere
            div(data-fav-directive)       
            button.btn.btn-default.pull-right(disabled="true") 20,00 DKK 
    .col-md-4
      .thumbnail
        img(src="https://static.pexels.com/photos/276583/pexels-photo-276583.jpeg", alt="")
        .caption
          h3 Vintage Sofagrupper til den moderne hipster
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fugiat, eum laboriosam facilis numquam neque?
          .thumbnail__actions
            button.btn.btn-default Se mere          
            div(data-fav-directive)
            button.btn.btn-default.pull-right(disabled="true") 5000,00 DKK
    .col-md-4
      .thumbnail
        img(src="https://static.pexels.com/photos/280402/pexels-photo-280402.jpeg", alt="")
        .caption
          h3 Vintage stol sælges
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fugiat, eum laboriosam facilis numquam neque?
          .thumbnail__actions
            button.btn.btn-default Se mere          
            div(data-fav-directive)
            button.btn.btn-default.pull-right(disabled="true") 199,95 DKK    

  .row
    .col-md-3.col-md-offset-9
      button.btn.btn-primary.pull-right Se flere 
        i.glyphicon.glyphicon-menu-right(style="font-size: 12px")
  .row
    .col-md-12
      h3 Ved at udløbe