.jumbotron.banner.banner--has-fixed-header(style="background-image: url('{{randomImage}}')")
  .banner__overlay
  .banner__wrapper.container
    .row
      .col-md-6.col-md-offset-3      
        //- h1(style="color: white; text-transform: uppercase; text-align: center; letter-spacing:1px;") Lauritz.com
    .row
      .col-md-6.col-md-offset-3      
        .thumbnail
          .caption
            h2.banner__main-title() <span class="design__line"></span><span class="design__keyword">Søg</span><span class="design__line"></span><br/> i Nordens største <br /> Auktionshus             
          .input-group.search-field          
            input.form-control.search-field__input(type="text", placeholder="Start din søgning her...")            
            span.input-group-btn
              button.btn.btn-success.search-field__action Søg    
                i.glyphicon.glyphicon-menu-right(style="font-size: 0.7em")

        .thumbnail.thumbnail--categories
          .content
            .caption
              h2.content__heading Kategorier
              .row
                .container-fluid
                  .row
                    .col-sm-4.col-xs-6
                      div.checkbox
                        label Elektronik <input type="checkbox" /> 
                          
                          
                    .col-sm-4.col-xs-6
                      div.checkbox
                        label Transport midler <input type="checkbox" />
                    .col-sm-4.col-xs-6
                      div.checkbox
                        label Bolig <input type="checkbox" />
                    
                    .col-sm-4.col-xs-6
                      div.checkbox
                        label Fritid <input type="checkbox" />

                    .col-sm-4.col-xs-6
                      div.checkbox
                        label Tøj <input type="checkbox" />

                    .col-sm-4.col-xs-6
                      div.checkbox
                        label Samleobjekter <input type="checkbox" />

