.jumbotron.banner.banner--has-fixed-header(style="background-image: url('{{randomImage}}')")
  .banner__overlay
  .banner__wrapper.container
    .row
      .col-md-6.col-md-offset-3      
        .thumbnail
          .caption
            h2.banner__main-title() <span class="design__line"></span><span class="design__keyword">Søg</span><span class="design__line"></span><br/> i Nordens største Auktionshus             
          .input-group.search-field          
            input.form-control.search-field__input(type="text", placeholder="Start din søgning her...")            
            span.input-group-btn
              button.btn.btn-default.search-field__action Søg    
