<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="./assets/vendors/vendors.js")
    script(src="./assets/scripts/app.js")
    link(rel="stylesheet", href="./assets/css/stylesheet.css")
    title Køb og sælg på Nordens største auktionshus Lauritz.com
  body(data-ng-app="lauritz")
    div
      // Header & Navigation
      div(data-header-directive)
      div(data-banner-directive)