<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="./assets/vendors/vendors.js")
    script(src="./assets/scripts/app.js")
    link(rel="stylesheet", href="./assets/css/stylesheet.css")
    title Køb og sælg på Nordens største auktionshus Lauritz.com
  body(data-ng-app="lauritz")
    div
      // Header & Navigation
      div(data-header-directive)
      div(data-banner-directive)
      
      .container
        .row
          .col-md-9.col-sm-7
            h3(style="text-transform: uppercase; font-weight: bold; margin-bottom: 30px").section__heading Fremhævede annoncer
          .col-md-3.col-sm-5
            h3 Reklamer
        .row
          .col-md-9.col-sm-7
            .row
              // Main content
              div(data-maincontent-directive)
          .col-md-3.col-sm-5
            // Bannerads 
            .content
              .banner__ad(style="margin-bottom: 20px;")
                .ad(style="position: relative; width: 100%; max-width: 100%; background-image: url('https://static.pexels.com/photos/62623/wing-plane-flying-airplane-62623.jpeg'); height: 300px; background-size: cover; background-position: center;")
                  .caption(style="position: absolute; top: 80%; left: 10px; font-size: 25px; font-weight: bold;")
                    p(style="color: #D7B740;") Markup Banner

                
            .content
              .img  
                img(src="http://placehold.it/400x400", alt="", style="max-width: 100%; width: 100%")            
                
            .content
              .img  
                img(src="http://placehold.it/400x400", alt="", style="max-width: 100%; width: 100%")            
                
